@page "/usersPage"
@rendermode InteractiveServer
@using System.Text.Json

@* Summary:
   The UsersPage component displays a list of registered users in a table format, loading data
   from a JSON file managed by the UserService. When the page initializes, it checks if `_users`
   is null and displays a loading message until data is available. The table lists each user's
   name, email, and password, with placeholder columns for additional information that may be
   uncommented in the future (e.g., company name and catchphrase).
   *@

<PageTitle>Users Page</PageTitle>

<h1>Registered Users</h1>

@if (_users == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <div class="container my-3">
        <div class="row mb-3">
            <div class="col-md-4">
                <input type="search" class="form-control" @bind="searchTerm" @oninput="FilterBySearch" placeholder="Search by name" />
            </div>
            <div class="col-md-8 d-flex justify-content-end">
                <button @onclick="DisplaySome" class="btn btn-primary me-2">Display five users</button>
                <button @onclick="DisplayAll" class="btn btn-primary me-2">Display all users</button>
                <button @onclick="OrderByName" class="btn btn-primary me-2">Order by Name</button>
                <button @onclick="OrderedById" class="btn btn-primary">Order by Id</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Userame</th>
                <th>Email</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Company name</th>
                <th>Catch phrase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.Address.Street</td>
                    <td>@user.Address.City</td>
                    <td>@user.Address.Zipcode</td>
                    <td>@user.Company.Name</td>
                    <td>@user.Company.Catchphrase</td>
                </tr>
            }
        </tbody>
    </table>
}